<div class="divider">
    <div class="divider-line"></div>
    <span>@label</span>
    <div class="divider-line"></div>
</div>

@code {
    [Parameter] public string label { get; set; } = string.Empty;
}
