<footer>
    <div class="container">
        <div class="pt-2">
            <a  class="brand-footer" href="https://www.linkedin.com/in/bryan-j-chac%C3%B3n-reyes-aa118b228/">
                <i class="fa-brands fa-linkedin" />&nbsp;
                <span>Bryan José Chacón Reyes @($"- {DateTime.Now.Year}")</span>
            </a>
        </div>
    </div>
    
</footer>