@page "/"

<div class="container index">
    <PageTitleBar title="Welcome" pageTitle="Welcome"/>
    <article>
        <h5>Welcome to Blazor Movie porfolio</h5>
        <p>
            In this portfolio will allow you to find information about
            movies, fetching the data from the open movie database.
        </p>
        <img class="big" src="./images/Welcome/01.png" alt="movies_capture.png"/>
        <br />
        <p>
            You just write the name of the movie, and if the movie with the name that you enter exist on the Open
            Movie Data Base, the aplication will show you the information related with that movie. If it does not exist
            the application will tell you that could not find the move that you were looking for.
        </p>
        <br/>
        <img class="big" src="./images/Welcome/04.png" alt="movies_capture.png"/>
        <br/>
        <p>The application will show you the resent result of you searchs in a carrusel, and also show the information related to that movie.</p>
        <br/>
        <div class="img-grid">
            <img class="" src="./images/Welcome/02.png" alt="light_capture.png" />
            <img class="" src="./images/Welcome/03.png" alt="dark_capture.png" />
        </div>
        <br/>
        <p>
            This blazor application allow you to change the theme to light to dark if you wanted
        </p>
        <br/>
    </article>

</div>