img {
    object-fit: cover;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.13);
}

.big {
    max-width: 90%;
    max-height: 550px;
    margin: 0 auto;
    display: block;
}

.img-grid{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 15px;
    align-items: center;
    justify-items:center;
}

.index{
    font-family:"Kanit" !important;
}